<body>
  <!-- <header>
    <h1> Add a New Comedian </h1>
  </header> -->

  <div class="form-container">
    <h2> NEW COMEDIAN </h2>
    <form class="new-comedian" action="/comedians" method=POST>
      <h3>NAME:   <input type="text" name="comedian[name]" placeholder="Name"></h3><br>
      <h3>AGE:   <input type="integer" name="comedian[age]" placeholder="Age"></h3><br>
      <h3>CITY:   <input type="text" name="comedian[city]" placeholder="City"></h3><br>
      <input type="submit" value="Submit">
      <br><br>
    </form>

  </div>

</body>
